<div class="note-section row">
    <div class="col-lg-6">
        <h4 class="display-5 text-white">Welcome back, {{user}}</h4>
        <p class="lead text-white">Add a note</p>
        <form id="add" class="row">
            <div class="col col-sm-9">
                <textarea type="text" name="note"></textarea>
            </div>
            <div class="col col-sm-3">
                <button class="btn btn-warning" type="submit">Add</button>
            </div>
        </form>
    </div>

    <div class="col-lg-6">
        <h4 class="display-6 text-white">Notes<span class="saving">Saving...</span></h4>
        <div id="notes">
            {{#each notes}}
            <div class="note">
                <span class="input"><textarea id={{@index}} data-id="{{@index}}">{{this}}</textarea></span>

                <button class="remove btn btn-xs" id={{@index}} data-id="{{@index}}"><i class="fa fa-trash"
                        aria-hidden="true"></i></button>
            </div>
            {{/each}}
        </div>
    </div>
</div>